.welcome {
  background-color: var(--color-primary);
  height: 100vh;
  display: grid;
  place-items: center;
}

.kcal {
  color: white;
  font-size: 3em;
  animation: 2s blinkTilt ease-in infinite;
}

@keyframes blinkTilt {
  0% {
    transform: scale(1.2);
  }
  5% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    color: black;
    transform: rotate(40deg);
  }
}

.subtitle {
  position: absolute;
  bottom: 10%;
}
