.avatar {
  position: relative;
}

.avatar__image {
  width: 10rem;
  height: 10rem;
}

.avatar__badge {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  justify-content: center;
  align-items: center;
  border: 0.2em solid white;
}
