.avatar {
  position: relative;
}

.avatar__image {
  width: 160px;
  height: 160px;
}

.avatar__badge {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--color-secondary);
  justify-content: center;
  align-items: center;
  border: 0.2em solid white;
}
