@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #91c788;
  --color-secondary: #ff8473;
  --color-secondary-light: #fff8ee;
  --color-text-main: black;
  --color-content-sub: #a9a9a9;
  --color-background-main: #e5e5e5;
  --font-family: "Signika", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
}
